*{
    background-color: rgb(60, 94, 92);

}
p{
    color: white;
}
h2{
    color: white;
}
h4{
    color: white;
}
input{
    color: white;
    border-radius: 5px;
    background-color: white;
}
button{
    border-radius: 100%;
    color: aliceblue;
}